* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  --accent-color: rgb(0, 102, 204);
}

a {
  text-decoration: none;
  color: rgb(0, 102, 204);
}

a::after {
  height: 18px;
  content: url("./res/arrow.svg");
}

body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header {
  position: relative;
  height: 100%;
  height: 46px;
}

nav {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  color: white;
  display: grid;
  place-content: center;
}

ul {
  display: flex;
  font-size: 12px;
  flex-direction: row;
  margin: 0px auto;
  align-items: center;
}

li {
  opacity: 0.8;
  padding: 14px 23px;
  transition: opacity 0.5s ease;
}

li:hover {
  opacity: 1;
}

li.icon {
  margin: 8px;
  padding: 0;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.bag {
  background: url("./res/bag.svg");
}

.search {
  background: url("./res/search.svg");
}

.menu {
  background: url("./res/menu.svg");
}

.hidden_desktop {
  display: none;
}

.scale {
  transform: scale(1.4);
}

@media screen and (max-width: 1080px) {
  ul {
    width: 100vw;
    justify-content: space-between;
  }

  .hidden_mobile {
    display: none;
  }

  .hidden_desktop {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .wide-card {
    height: 1080px;
  }
}

.notify-banner {
  background-color: #fbfbfb;
  padding: 1rem;
  display: grid;
  place-content: center;
}

.wide-card {
  height: 592px;
  background-color: #f3f3f3;
  margin-bottom: 1rem;
  padding: 3rem;
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
}

.wide-card h1 {
  letter-spacing: -0.1rem;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 56px;
  font-weight: 500;
}
.wide-card h2 {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 1rem;
}

.wide-card a {
  font-size: 1.4rem;
  padding: 1rem;
}

.iphone-13-pro {
  background-image: url("./res/iphone13pro.png");
}
.iphone-13 {
  color: white;
  background-image: url("./res/iphone13.png");
}

.iphone-13 h2 {
  color: rgb(254, 194, 235);
}
.macbook-pro {
  background-image: url("./res/macbookpro.png");
}

.footer {
  background-color: rgb(245, 245, 247);
  padding: 0px 6rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  place-content: center;
}

.fine-print {
  color: rgb(110, 110, 115);
  padding: 1rem;
}

hr {
  padding-top: 0.5rem; 
  margin-top: 0.5rem; 
  border: none;
  border-top: 1px solid rgba(110, 110, 115, 0.6);
}

footer .flex-bottom {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(110, 110, 115);
}

footer a {
  color: rgb(66, 66, 69);
}
footer a::after {
  content: none;
}

a .blue-a {
  color: var(--accent-color);
}

.country {
  text-align: end;
}

.flex-bottom .links {
  text-align: center;
}

.flex-bottom .links a::after {
  content: " | ";
}
